$navy-850: hsl(217, 28%, 15%);
$navy-900: hsl(218, 28%, 13%);
$navy-950: hsl(216, 53%, 9%);
$navy-800: hsl(219, 30%, 18%);

$teal-200: hsl(176, 68%, 64%);
$cyan-500: hsl(198, 60%, 50%);
$red-500: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);

$font-family-heading: 'Raleway', sans-serif;
$font-family-body: 'Open Sans', sans-serif;

$font-size-body: 14px;

$fw-400: 400;
$fw-700: 700;

$mobile: 375px;
$desktop: 1440px;

$cta-gradient: linear-gradient(
  90deg,
  $teal-200,
  $cyan-500
);