@use "../utils/variables" as v;
@use "../utils/functions" as f;
@use "../utils/mixings" as m;

footer {
  background-color: v.$navy-950;
  padding: f.rem(28);
  margin-top: f.rem(300);
  line-height: 1.5;

  @include m.breakpoint(large) {
    padding: f.rem(28) f.rem(100);
  }
}

.form-container {
  transform: translateY(-60%);
  padding: f.rem(36) f.rem(28);
  background-color: v.$navy-850;
  border-radius: f.rem(8);
  gap: f.rem(16);
  text-align: center;

  @include m.breakpoint(large) {
    max-width: 65%;
    padding: f.rem(50) f.rem(70);
    margin: 0 auto;
  }
}

.form-container h2 {
  font-size: clamp(1rem, 0.296rem + 3.005vw, 3rem);
  line-height: 1;
  margin-block: f.rem(8);
}

.form-container p {
  font-size: v.$font-size-body;
  margin-bottom: f.rem(16);
}

.form-container form {
  gap: f.rem(8);
  width: 100%;
  font-family: v.$font-family-heading;

  @include m.breakpoint(large) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.form-group {
  width: 100%;
}


.sr-only {
  position: absolute;
  width: f.rem(1);
  height: f.rem(1);
  padding: 0;
  margin: f.rem(-1);
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.form-group input {
  border: none;
  outline: none;
  padding: f.rem(14) f.rem(28);
  border-radius: f.rem(100);
  width: 100%;
  cursor: pointer;
}

.form-group input::placeholder {
  opacity: 0.5;
}

.form-group button {
  background: v.$cta-gradient;
  color: v.$white;
  font-weight: v.$fw-700;
  border: none;
  outline: none;
  padding: f.rem(14) f.rem(28);
  border-radius: f.rem(100);
  width: 100%;
  cursor: pointer;
}

.form-group button:hover {
  background: v.$teal-200;
}

@media (prefers-reduced-motion: reduce) {
  .form-group button:hover {
    transform: none;
  }
}

@include m.breakpoint(large) {
  .form-group:first-of-type {
    width: 63%;
  }

  .form-group:last-of-type {
    width: 33%;
  }
}

.error-message {
  display: none;
}

.error-message.visible {
  display: block;
  font-size: f.rem(11);
  color: v.$red-500;
  align-self: flex-start;
  padding-left: f.rem(20);
}

.footer-container .logo {
  margin-bottom: f.rem(40);
}

.footer-details {
  align-items: flex-start;
  gap: f.rem(20);
}

.footer-details .row {
  gap: f.rem(30);
  align-items: flex-start;
  margin-bottom: f.rem(16);
}


.footer-details nav {
  margin-block: f.rem(40);
  align-items: flex-start;
  gap: f.rem(40);

  @include m.breakpoint(large) {
    flex-direction: row;
    gap: f.rem(60);
    margin: 0;
  }
}

.footer-details nav ul li {
  margin-bottom: f.rem(8);
}

.footer-details nav a:hover {
  font-weight: v.$fw-700;
}

.footer-brands {
  align-self: center;
  gap: f.rem(16);

  @include m.breakpoint(large) {
    align-self: flex-start;
    justify-self: center;
    flex: 1;
  }
}

.footer-brands a {
  width: f.rem(40);
  height: f.rem(40);
  display: grid;
  place-content: center;
  border: 2px solid v.$white;
  border-radius: 50%;
  transition: all 0.5s ease;
}

.footer-brands a:hover {
  border-color: v.$teal-200;
  color: v.$teal-200;
  transform: scale(1.1);
}

@media (prefers-reduced-motion: reduce) {
  .footer-brands a {
    transition: none;
    transform: none;
  }
}

@include m.breakpoint(large) {
  .footer-details {
    flex-direction: row;
    justify-content: space-between;
    gap: f.rem(100);
  }

  .location {
    flex-basis: 30%;
  }
}

.attribution {
  font-size: f.rem(11);
  margin-block: f.rem(16);
  text-align: center;
}